  $ring-offset-width: 0px;
  $ring-offset-color: #fff;
  $ring-color: rgba(66, 153, 225, 0.6);
  $ring-offset-shadow: 0 0 #0000;
  $ring-shadow: 0 0 #0000;
  $space-x-reverse: 0;
  $space-y-reverse: 0;
  $color-transparent: transparent;
  $color-current: 10;
  $color-black: #000000;
  $color-white: #FFFFFF;
  $color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  $color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  $color-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  $color-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  $color-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  $color-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  $color-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  $color-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  $color-whiteAlpha-800: rgba(255, 255, 255, 0.80);
  $color-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  $color-blackAlpha-50: rgba(0, 0, 0, 0.04);
  $color-blackAlpha-100: rgba(0, 0, 0, 0.06);
  $color-blackAlpha-200: rgba(0, 0, 0, 0.08);
  $color-blackAlpha-300: rgba(0, 0, 0, 0.16);
  $color-blackAlpha-400: rgba(0, 0, 0, 0.24);
  $color-blackAlpha-500: rgba(0, 0, 0, 0.36);
  $color-blackAlpha-600: rgba(0, 0, 0, 0.48);
  $color-blackAlpha-700: rgba(0, 0, 0, 0.64);
  $color-blackAlpha-800: rgba(0, 0, 0, 0.80);
  $color-blackAlpha-900: rgba(0, 0, 0, 0.92);
  $color-gray-50: #F7FAFC;
  $color-gray-100: #EDF2F7;
  $color-gray-200: #E2E8F0;
  $color-gray-300: #CBD5E0;
  $color-gray-400: #A0AEC0;
  $color-gray-500: #718096;
  $color-gray-600: #4A5568;
  $color-gray-700: #2D3748;
  $color-gray-800: #1A202C;
  $color-gray-900: #171923;
  $color-red-50: #FFF5F5;
  $color-red-100: #FED7D7;
  $color-red-200: #FEB2B2;
  $color-red-300: #FC8181;
  $color-red-400: #F56565;
  $color-red-500: #E53E3E;
  $color-red-600: #C53030;
  $color-red-700: #9B2C2C;
  $color-red-800: #822727;
  $color-red-900: #63171B;
  $color-orange-50: #FFFAF0;
  $color-orange-100: #FEEBC8;
  $color-orange-200: #FBD38D;
  $color-orange-300: #F6AD55;
  $color-orange-400: #ED8936;
  $color-orange-500: #DD6B20;
  $color-orange-600: #C05621;
  $color-orange-700: #9C4221;
  $color-orange-800: #7B341E;
  $color-orange-900: #652B19;
  $color-yellow-50: #FFFFF0;
  $color-yellow-100: #FEFCBF;
  $color-yellow-200: #FAF089;
  $color-yellow-300: #F6E05E;
  $color-yellow-400: #ECC94B;
  $color-yellow-500: #D69E2E;
  $color-yellow-600: #B7791F;
  $color-yellow-700: #975A16;
  $color-yellow-800: #744210;
  $color-yellow-900: #5F370E;
  $color-green-50: #F0FFF4;
  $color-green-100: #C6F6D5;
  $color-green-200: #9AE6B4;
  $color-green-300: #68D391;
  $color-green-400: #48BB78;
  $color-green-500: #38A169;
  $color-green-600: #2F855A;
  $color-green-700: #276749;
  $color-green-800: #22543D;
  $color-green-900: #1C4532;
  $color-teal-50: #E6FFFA;
  $color-teal-100: #B2F5EA;
  $color-teal-200: #81E6D9;
  $color-teal-300: #4FD1C5;
  $color-teal-400: #38B2AC;
  $color-teal-500: #319795;
  $color-teal-600: #2C7A7B;
  $color-teal-700: #285E61;
  $color-teal-800: #234E52;
  $color-teal-900: #1D4044;
  $color-blue-50: #ebf8ff;
  $color-blue-100: #bee3f8;
  $color-blue-200: #90cdf4;
  $color-blue-300: #63b3ed;
  $color-blue-400: #4299e1;
  $color-blue-500: #3182ce;
  $color-blue-600: #2b6cb0;
  $color-blue-700: #2c5282;
  $color-blue-800: #2a4365;
  $color-blue-900: #1A365D;
  $color-cyan-50: #EDFDFD;
  $color-cyan-100: #C4F1F9;
  $color-cyan-200: #9DECF9;
  $color-cyan-300: #76E4F7;
  $color-cyan-400: #0BC5EA;
  $color-cyan-500: #00B5D8;
  $color-cyan-600: #00A3C4;
  $color-cyan-700: #0987A0;
  $color-cyan-800: #086F83;
  $color-cyan-900: #065666;
  $color-purple-50: #FAF5FF;
  $color-purple-100: #E9D8FD;
  $color-purple-200: #D6BCFA;
  $color-purple-300: #B794F4;
  $color-purple-400: #9F7AEA;
  $color-purple-500: #805AD5;
  $color-purple-600: #6B46C1;
  $color-purple-700: #553C9A;
  $color-purple-800: #44337A;
  $color-purple-900: #322659;
  $color-pink-50: #FFF5F7;
  $color-pink-100: #FED7E2;
  $color-pink-200: #FBB6CE;
  $color-pink-300: #F687B3;
  $color-pink-400: #ED64A6;
  $color-pink-500: #D53F8C;
  $color-pink-600: #B83280;
  $color-pink-700: #97266D;
  $color-pink-800: #702459;
  $color-pink-900: #521B41;
  $border-none: 0;
  $border-1px: 1px solid;
  $border-2px: 2px solid;
  $border-4px: 4px solid;
  $border-8px: 8px solid;
  $font-xs: 0.75rem;
  $font-sm: 0.875rem;
  $font-md: 1rem;
  $font-lg: 1.125rem;
  $font-xl: 1.25rem;
  $font-2xl: 1.5rem;
  $font-3xl: 1.875rem;
  $font-4xl: 2.25rem;
  $font-5xl: 3rem;
  $font-6xl: 3.75rem;
  $font-7xl: 4.5rem;
  $font-8xl: 6rem;
  $font-9xl: 8rem;
  $font-hairline: 100;
  $font-thin: 200;
  $font-light: 300;
  $font-normal: 400;
  $font-medium: 500;
  $font-semibold: 600;
  $font-bold: 700;
  $font-extrabold: 800;
  $font-black: 900;
  $letterSpacings-tighter: -0.05em;
  $letterSpacings-tight: -0.025em;
  $letterSpacings-normal: 0;
  $letterSpacings-wide: 0.025em;
  $letterSpacings-wider: 0.05em;
  $letterSpacings-widest: 0.1em;
  $line-height-3: .75rem;
  $line-height-4: 1rem;
  $line-height-5: 1.25rem;
  $line-height-6: 1.5rem;
  $line-height-7: 1.75rem;
  $line-height-8: 2rem;
  $line-height-9: 2.25rem;
  $line-height-10: 2.5rem;
  $line-height-normal: normal;
  $line-height-none: 1;
  $line-height-shorter: 1.25;
  $line-height-short: 1.375;
  $line-height-base: 1.5;
  $line-height-tall: 1.625;
  $line-height-taller: 2;
  $radii-none: 0;
  $radii-sm: 0.125rem;
  $radii-base: 0.25rem;
  $radii-md: 0.375rem;
  $radii-lg: 0.5rem;
  $radii-xl: 0.75rem;
  $radii-2xl: 1rem;
  $radii-3xl: 1.5rem;
  $radii-full: 9999px;
  $space-1: 0.25rem;
  $space-2: 0.5rem;
  $space-3: 0.75rem;
  $space-4: 1rem;
  $space-5: 1.25rem;
  $space-6: 1.5rem;
  $space-7: 1.75rem;
  $space-8: 2rem;
  $space-9: 2.25rem;
  $space-10: 2.5rem;
  $space-12: 3rem;
  $space-14: 3.5rem;
  $space-16: 4rem;
  $space-20: 5rem;
  $space-24: 6rem;
  $space-28: 7rem;
  $space-32: 8rem;
  $space-36: 9rem;
  $space-40: 10rem;
  $space-44: 11rem;
  $space-48: 12rem;
  $space-52: 13rem;
  $space-56: 14rem;
  $space-60: 15rem;
  $space-64: 16rem;
  $space-72: 18rem;
  $space-80: 20rem;
  $space-96: 24rem;
  $space-px: 1px;
  $space-0\.5: 0.125rem;
  $space-1\.5: 0.375rem;
  $space-2\.5: 0.625rem;
  $space-3\.5: 0.875rem;
  $shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  $shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  $shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  $shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  $shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  $shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
  $shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  $shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  $shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
  $shadows-none: none;
  $shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
  $sizes-1: 0.25rem;
  $sizes-2: 0.5rem;
  $sizes-3: 0.75rem;
  $sizes-4: 1rem;
  $sizes-5: 1.25rem;
  $sizes-6: 1.5rem;
  $sizes-7: 1.75rem;
  $sizes-8: 2rem;
  $sizes-9: 2.25rem;
  $sizes-10: 2.5rem;
  $sizes-12: 3rem;
  $sizes-14: 3.5rem;
  $sizes-16: 4rem;
  $sizes-20: 5rem;
  $sizes-24: 6rem;
  $sizes-28: 7rem;
  $sizes-32: 8rem;
  $sizes-36: 9rem;
  $sizes-40: 10rem;
  $sizes-44: 11rem;
  $sizes-48: 12rem;
  $sizes-52: 13rem;
  $sizes-56: 14rem;
  $sizes-60: 15rem;
  $sizes-64: 16rem;
  $sizes-72: 18rem;
  $sizes-80: 20rem;
  $sizes-96: 24rem;
  $sizes-px: 1px;
  $sizes-0\.5: 0.125rem;
  $sizes-1\.5: 0.375rem;
  $sizes-2\.5: 0.625rem;
  $sizes-3\.5: 0.875rem;
  $sizes-max: max-content;
  $sizes-min: min-content;
  $sizes-full: 100%;
  $sizes-3xs: 14rem;
  $sizes-2xs: 16rem;
  $sizes-xs: 20rem;
  $sizes-sm: 24rem;
  $sizes-md: 28rem;
  $sizes-lg: 32rem;
  $sizes-xl: 36rem;
  $sizes-2xl: 42rem;
  $sizes-3xl: 48rem;
  $sizes-4xl: 56rem;
  $sizes-5xl: 64rem;
  $sizes-6xl: 72rem;
  $sizes-7xl: 80rem;
  $sizes-8xl: 90rem;
  $sizes-container-sm: 640px;
  $sizes-container-md: 768px;
  $sizes-container-lg: 1024px;
  $sizes-container-xl: 1280px;
  $transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  $transition-property-color: background-color,border-color,color,fill,stroke;
  $transition-property-dimensions: width,height;
  $transition-property-position: left,right,top,bottom;
  $transition-property-background: background-color,background-image,background-position;
  $transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  $transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  $transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  $transition-duration-ultra-fast: 50ms;
  $transition-duration-faster: 100ms;
  $transition-duration-fast: 150ms;
  $transition-duration-normal: 200ms;
  $transition-duration-slow: 300ms;
  $transition-duration-slower: 400ms;
  $transition-duration-ultra-slow: 500ms;