extends ../layouts/dashboard.pug

block content
  main.main
    include ../parts/_header.pug
    .main__scrollbar
      section.billing
        .billing__container
          .billing__c-card.c-card
            .c-card__header
              h3.c-card__name Purity UI
              img.c-card__logo(src="./imgs/ms-card-circle.svg" alt="")
            h1.c-card__number 7812 2139 0823 XXXX
            .c-card__info
              .c-card__expiration
                p VALID THRU
                h2 05/24
              .c-card__cvv
                p CVV
                h2 09X
          .billing__salary.salary-data
            .salary-data__icon
              img(src="./imgs/wallet-icon.svg" alt="")
            h4.salary-data__title Salary
            .salary-data__hint Belong Interactive
            img.salary-data__decor(src="./imgs/card-line-decor.svg" alt="")
            .salary-data__money +$2000
          .billing__payment.payment-data
            .payment-data__icon
              img(src="./imgs/paypal-logo.svg" alt="")
            h4.payment-data__title Paypal
            .payment-data__hint Freelance Payment
            img.payment-data__decor(src="./imgs/card-line-decor.svg" alt="")
            .payment-data__money $455.00
          .billing__invoices.invoices-data
            .invoices-data__header
              h4.invoices-data__title Invoices
              button.btn.btn__plain.btn__plain--teal VIEW ALL
            ul.invoices-data__list
              li.invoices-data__item
                .invoices-data__info
                  h5 March, 01, 2020
                  span #MS-415646
                .invoices-data__docs
                  span $180
                  .invoices-data__receipt
                    img(src="./imgs/file-dark-icon.svg" alt="")
                    b PDF
              li.invoices-data__item
                .invoices-data__info
                  h5 February, 10, 2021
                  span #MS-415621
                .invoices-data__docs
                  span $220
                  .invoices-data__receipt
                    img(src="./imgs/file-dark-icon.svg" alt="")
                    b PDF
              li.invoices-data__item
                .invoices-data__info
                  h5 March, 07, 2024
                  span #MS-415216
                .invoices-data__docs
                  span $420
                  .invoices-data__receipt
                    img(src="./imgs/file-dark-icon.svg" alt="")
                    b PDF
              li.invoices-data__item
                .invoices-data__info
                  h5 March, 01, 2020
                  span #MS-415646
                .invoices-data__docs
                  span $180
                  .invoices-data__receipt
                    img(src="./imgs/file-dark-icon.svg" alt="")
                    b PDF
              li.invoices-data__item
                .invoices-data__info
                  h5 March, 01, 2020
                  span #MS-415646
                .invoices-data__docs
                  span $180
                  .invoices-data__receipt
                    img(src="./imgs/file-dark-icon.svg" alt="")
                    b PDF
          .billing__pay-method.pay-method
            .pay-method__header
              .pay-method__title Payment Method
              button.btn.btn__dark Add a new card
            .pay-method__card-group
              .pay-method__card
                img(src="./imgs/ms-card-icon.svg", alt="")
                span 7812 2139 0823 XXXX
                .pay-method__card-edit
                  img(src="./imgs/pencil-icon.svg", alt="")
              .pay-method__card
                img(src="./imgs/visa-logo.svg", alt="")
                span 7812 2139 0823 XXXX
                .pay-method__card-edit
                  img(src="./imgs/pencil-icon.svg", alt="")
