extends ../layouts/dashboard.pug

block content
  main.main
    include ../parts/_header.pug
    section.tables
      .tables__holder
        h4.tables__title Authors Table
        table.tables__container.table
          thead.table__head
            tr.table__row
              th.table__h-cell author
              th.table__h-cell function
              th.table__h-cell status
              th.table__h-cell employed
          tbody.table__body
            tr.table__row
              td.table__cell.table-cell
                img(src="./imgs/table-user.png")
                .table-cell__inner
                  h6 Laurent Michael
                  span laurent@simmmple.com
              td.table__cell.table-cell
                .table-cell__inner
                  h6 Manager
                  span Organization
              td.table__cell.table-cell
                button.btn.table-cell__status Online
              td.table__cell.table-cell
                h6 14/06/21
              td.table__cell.table-cell
                button.table-cell__edit