.sidebar {
  min-width: 270px;
  box-sizing: border-box;
  height: 100%;
  @include flex($fd: column, $g: 25px);
  padding: 44px 25px 15px;
  &__scrollbar {
    @extend %scrollbar;
    width: 100%;
  }
  &__inner {
    @include flex($fd: column, $g: 20px);
    width: 100%;
  }
  &__decor {
    width: 100%;
  }
  &__nav {
    width: 100%;
  }
  &__tip {
    width: 100%;
    background-color: $color-teal-300;
    border-radius: 15px;
    padding: 16px;
    margin-top: 32px;
  }
}

.nav {
  &__heading {
    @include font($font-sm, $line-height-base, $font-bold);
    padding: 15px;
  }
  &__list {
    @include flex($fd: column);
  }
  &__item {
    width: 100%;
  }
  &__link {
    text-decoration: none;
    border-radius: 15px;
    padding: 12px 15px;
  }
}

.link {
  @include flex($y: center, $g: 13px);
  transition: $transition-duration-fast linear;
  &__icon {
    width: 30px;
    height: 30px;
    @include flex(center, center);
    border-radius: 12px;
    background-color: $color-white;
  }
  &__text {
    color: $color-gray-400;
    @include font($font-sm, $line-height-base, $font-medium);
  }
  &__active {
    background-color: $color-white !important;
    box-shadow: 0 3.5px 5.5px 0 rgba(0, 0, 0, 0.02);
    .link__text {
      color: $color-gray-700 !important;
    }
    .link__icon {
      background-color: $color-teal-300;
      img {
        filter: brightness(5);
      }
    }
    .link__text {
      color: $color-gray-700;
    }
  }
  &:hover {
    background-color: $color-gray-100;
    .link__text {
      color: $color-gray-500;
    }
  }
}

.sidebar-tip {
  @include flex($fd: column, $g: 20px);
  &__icon {
    @include flex(center, center);
    border-radius: 12px;
    width: 35px;
    height: 35px;
    background-color: $color-white;
  }
  &__text {
    color: $color-white;
    @include flex($fd: column);
    @include font($font-xs, $line-height-base);
    span {
      &:first-child {
        @include font(14px, 1.4, bold);
      }
    }
  }
  &__btn {
    color: #2d3748;
  }
}
